<%= setup_page 'graph' %>
<%= render 'filters' %>
<div id="canvas" style="width: 900px; height: 500px"></div>

<script type="text/javascript">
  var canvasID = "canvas"
  var dayWidth;
  var dayHeight;
  var canvas;
  function setupCanvas(id, numDays) {
    canvasID = id;
    canvasWidth = $("#" + id).width();
    canvasHeight = $("#" + id).height();
    dayWidth = canvasWidth;
    dayHeight = canvasHeight / numDays;
    canvas = Raphael(canvasID);
  }
  
  function graphTimeEntry(dayOffset, startOffset, endOffset, title, color, entryClass) {
    x = (startOffset * dayWidth / 86400.0);
    y = (dayOffset * dayHeight);
    width = (endOffset - startOffset) * dayWidth / 86400;
    r = canvas.rect(x, y, width, dayHeight).attr({fill: color, stroke: 'none', title: title});
  }
  
  $(document).ready(function() {
    setupCanvas('canvas', <%= @records.size %>);
    <% @records.each do |day_offset, row| %>
      <% row.each do |entry| %>
        <%= graph_time_entry(day_offset, entry) %>
      <% end %>
    <% end %>
  });
</script>

 
