<%= setup_page 'graph' %>
<%= render 'filters' %>

<h2>Schedule</h2>
<div id="canvas" style="width: 900px; height: 300px"></div>

<script type="text/javascript">
  var canvasID = "canvas";
  var dayWidth;
  var dayHeight;
  var canvas;
  function setupCanvas(id, numDays) {
    canvasID = id;
    canvasWidth = $("#" + id).width();
    canvasHeight = $("#" + id).height();
    dayWidth = canvasWidth / numDays;
    dayWidth = Math.min(dayWidth, 20);
    dayHeight = canvasHeight;
    canvas = Raphael(canvasID);
  }

  var sets = new Array();
  function graphTimeEntry(canvas, dayOffset, startOffset, endOffset, title, color, entryClass) {
    x = (dayOffset * dayWidth);
    y = (startOffset * dayHeight / 86400.0);
    height = (endOffset - startOffset) * dayHeight / 86400;
    r = canvas.rect(x, y, dayWidth, height).attr({fill: color, stroke: '#000', title: title});
    if (!sets[entryClass]) { sets[entryClass] = canvas.set(); }
    sets[entryClass].push(r);
    r.hover(
      function(event) { sets[entryClass].attr({'fill': '#000'}) },
      function(event) { sets[entryClass].attr({'fill': color}) });
  }

  function graphTimeTotal(dayOffset, startOffset, endOffset, title, color, entryClass) {
    x = (dayOffset * dayWidth);
    y = (startOffset * dayHeight / 86400.0);
    height = (endOffset - startOffset) * dayHeight / 86400;
    r = canvas.rect(x, y, dayWidth, height).attr({fill: color, stroke: '#000', title: title});
    if (!sets[entryClass]) { sets[entryClass] = canvas.set(); }
    sets[entryClass].push(r);
    r.hover(
      function(event) { sets[entryClass].attr({'fill': '#000'}) },
      function(event) { sets[entryClass].attr({'fill': color}) });
  }
  
  $(document).ready(function() {
    setupCanvas('canvas', <%= @records.size %>);
    <% @records.each do |day_offset, row| %>
      <% row[:record].each do |entry| %>
        <%= graph_time_entry('canvas', day_offset, entry) %>
      <% end %>
    <% end %>
    
  });
</script>

 
