.git
.gitignore
README.md
docker
docker-compose*yml

.*#

#
# Rails
#
.env
.env.sample
.env.*
*.rbc
capybara-*.html
log
tmp
db/*.sqlite3
db/*.sqlite3-journal

db/backup
db/data.yml
public/system
coverage/
spec/tmp
files
**.orig
quantified.sql
.bundle

.ruby-version
.ruby-gemset
ruby-with-env
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
vendor/assets/bower_components
*.bowerrc
bower.json
