.bundle
db/*.sqlite3
log/*.log
tmp/
**/#*
#*
.#*
*~
vendor/cache
webrat.log
config/initializers/local.rb
public/assets/*
config/initializers/secret_token.rb
config/newrelic.yml
coverage
public/coverage
public/f/
chef/
node_modules
vendor/assets/bower_components
log/
db/data.yml
db/backup/
.env*
docker-compose.*yml
db/*.sqlite3