.bundle
db/*.sqlite3
log/*.log
tmp/
**/#*
#*
.#*
*~
vendor/cache
webrat.log
config/initializers/local.rb
public/assets/*
config/initializers/secret_token.rb
config/database.yml
public/assets/*
config/newrelic.yml
coverage
public/coverage
public/f/
