%ul.nav.nav-tabs
  %li{:class => active_class(active, 'index')}= link_to 'Receipt items', receipt_items_path
  %li{:class => active_class(active, 'batch')}= link_to 'Batch entry', batch_entry_receipt_items_path

