%h1 Grocery lists

%table
  %tr
    %th Name
    %th

  - @grocery_lists.each do |grocery_list|
    %tr
      %td= link_to grocery_list.name, grocery_list
      %td= action_list grocery_list

%br

= link_to 'New Grocery list', new_grocery_list_path
