%div{:style => 'text-align: right'}
  = button_tag 'Sync', :class => 'btn', :name => 'sync', :id => 'sync'
  = button_tag 'Clear', :class => 'btn', :name => 'clear', :id => 'clear'
.alert-message.message{:id => 'message'}
%div{:id => 'categories'}
  %ul
    - @categories.each do |c|
      %li= link_to c.full_name, c, :class => :category, :'data-id' => c.id
%div{:id => 'pending_updates'}
