%div{:style => 'text-align: right'}
  = button_tag 'Sync', :class => 'btn btn-default', :name => 'sync', :id => 'sync'
  = button_tag 'Clear', :class => 'btn btn-default', :name => 'clear', :id => 'clear'
.alert-message.message{:id => 'message'}
%script{:type => 'text/html', :id => 'category_template'}
  %li
    %a{:href => '#', :'data-id' => "${id}", :'data-form' => "{{if data}}${escape(JSON.stringify(data))}{{else}}null{{/if}}"} ${full_name}
%script{:type => 'text/html', :id => 'form_template'}
  {{each(index, value) data}}
  %label{:for => "${index}"} ${value.label}
  {{if (value.type == "text")}}
  %textarea{:name => "${index}"}
  {{else}}
  %input{:name => "${index}"}
  {{/if}}
  {{/each}}
  .actions= submit_tag "Update", :class => 'btn btn-primary', :id => 'update'
%script{:type => 'text/html', :id => 'update_template'}
  {{if ($item['entry_type'] != 'edit')}}
  %li
    %time.timeago{:datetime=>"${date}"} ${date}
    ${name}
    %a{:href => '#', :'data-date' => '${date}', :class => 'remove'} Remove
  {{/if}}  
%form#form.form-stacked
%ul#categories
  %li
    %em Loading categories...
%div#pending_updates
