.ui-autocomplete {
  background: white; }

table.lined {
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-color: gray;
  border-collapse: collapse;
  background-color: white; }
  table.lined th, table.lined td {
    border-width: 1px;
    padding: 3px;
    border-style: inset;
    border-color: gray;
    background-color: white; }

th {
  text-align: left; }

.flash .alert {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd; }

.color-box {
  display: inline-block;
  width: 50px;
  height: 30px; }

.clear-both {
  clear: both; }

.image {
  float: right; }

.clear-left {
  clear: left; }

.date-change td {
  border-top: 1pt solid gray; }

dd {
  display: inline-block; }
