/* line 3, ../../app/stylesheets/application.sass */
body {
  font-family: Calibri, sans-serif;
  padding-top: 50px;
}

/* line 6, ../../app/stylesheets/application.sass */
a {
  text-decoration: none;
}

/* line 8, ../../app/stylesheets/application.sass */
.topbar h1 {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0;
}

/* line 12, ../../app/stylesheets/application.sass */
.entry {
  display: inline-block;
}
/* line 14, ../../app/stylesheets/application.sass */
.entry .item {
  display: inline-block;
}

/* line 16, ../../app/stylesheets/application.sass */
.image {
  float: right;
  margin-left: 10px;
}

/* line 19, ../../app/stylesheets/application.sass */
.auto {
  width: auto;
}
