body
  font: normal 12px "Lucida Grande", "Helvetica Neue", Arial, sans-serif
  line-height: auto
.ui-autocomplete
  background: white
th, td
  vertical-align: top
table.lined
  border-width: 1px
  border-spacing: 0px
  border-style: solid
  border-color: gray
  border-collapse: collapse
  background-color: white
  th, td
    border-width: 1px
    padding: 3px
    border-style: inset
    border-color: gray
    background-color: white
th
  text-align: left
.flash .alert
  border: 1px solid #fbb
  background-color: #fdd
.color-box
  display: inline-block
  width: 50px
  height: 30px
.clear-both
  clear: both
.image
  float: right
.clear-left
  clear: left
.date-change td
  border-top: 1pt solid gray
dd
  display: inline-block
.align_right
  text-align: right
.entry
  float: left
  padding-right: 10px
  .item
    float: left
body formtastic.fieldset > ol > li label 
  width: auto
body #container.no-sidebar
  width: auto
  min-width: 0
  #main
    width: 100%
.locations
  font-size: x-large
ul, ol, dl
  margin-left: 10px
.mobile
  #container
    width: 100%
  #main
    width: 100%
.menu
  font-size: large
  li
    list-style-type: none
  a
    width: 100%
    display: block
    border: 1pt solid darkgray
    padding: 3px
.summary
  font-size: large
  .category
    margin-bottom: 10px
  .entry, .stuff .list
    font-size: small

body #sidebar ul.navigation li a:link, body #sidebar ul.navigation li a:visited
  padding-left: 0px   