.ui-autocomplete
  background: white
table.lined
  border-width: 1px
  border-spacing: 0px
  border-style: solid
  border-color: gray
  border-collapse: collapse
  background-color: white
  th, td
    border-width: 1px
    padding: 3px
    border-style: inset
    border-color: gray
    background-color: white
th
  text-align: left
.flash .alert
  border: 1px solid #fbb
  background-color: #fdd