/* line 1, ../../app/assets/stylesheets/offline.sass */
#categories {
  list-style: none;
  margin-left: 0px;
}
/* line 4, ../../app/assets/stylesheets/offline.sass */
#categories li {
  display: block;
  border: 1px solid #cccccc;
}
/* line 7, ../../app/assets/stylesheets/offline.sass */
#categories a {
  padding: 20px;
  font-size: large;
  display: block;
  vertical-align: center;
  height: 100%;
  width: 100%;
}
