$lightBackground: #eee

body
  font-family: Calibri, sans-serif
  padding-top: 50px
a
  text-decoration: none
.topbar h1
  font-weight: bold
  font-size: x-large
  margin-bottom: 0
.entry
  display: inline-block
  .item
    display: inline-block
.image
  float: right
  margin-left: 10px
.auto
  width: auto
.formtastic fieldset.inputs ol
  list-style: none
label.label
  padding-top: 6px
  font-size: 13px
  line-height: 18px
  float: left
  width: 130px
  text-align: right
  color: #404040
  background: #fff
  font-weight: normal
  text-transform: none
.formtastic li
  margin-top: 3px
  margin-bottom: 3px
  input
    margin-left: 10px
.formtastic .actions
  padding-left: 320px
