%h2 Privacy

%p I share a lot of my data, but you shouldn't have to. I'm building Quantified Awesome to make it easier for you to track stuff if you want to do so, and I'll try not to let your data accidentally get exposed.

%p That said, I'm human and sometimes stuff happens. Please don't use this to store any confidential information, and send me feedback if you discover something I missed.

%p Your e-mail address is a handy way for me to get in touch with you if something does happen. I promise to never sell or rent your e-mail address or any other data you submit to this site to anyone.

%h2 Terms

Quantified Awesome is a fun personal project for me. Again, stuff
might happen. I make no guarantees about the suitability or
reliability of this system, any databases, and so on. Please don't do
anything that could get me in trouble with ISPs, copyright holders,
and other organizations.

If you want me to delete all of your data from this system, please
feel free to send feedback or send me an e-mail (sacha@quantifiedawesome.com).

%h2 Other stuff

I'm curious about building systems that fit the way people live. If
you think of ways that this could fit you better or track other things
you're interested in, send me feedback! I can't promise that I'll get
to it quickly, but it might be fun to try some things out.

Thanks for your interest!

%h2 The legal stuff

%h3 Collection of Information

We collect personally identifiable information, like names, postal addresses, email addresses, etc., when voluntarily submitted by our visitors. The information you provide is used to fulfill your specific request. This information is only used for that, unless you give us permission to use it in another manner, for example to add you to one of our mailing lists.

%h3 Cookie/Tracking Technology

The Site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the Site, and understanding how visitors use the Site. Cookies can also help customize the Site for visitors. Personal information cannot be collected via cookies and other tracking technology, however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.

%h3 Distribution of Information

We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.

%h3 Commitment to Data Security

Your personally identifiable information is kept secure. Only the creator of this site has to this information. All emails and newsletters from this site allow you to opt out of further mailings.

%h3 Privacy Contact Information

If you have any questions, concerns, or comments about our privacy policy you may contact me using the information below:

By e-mail: sacha@quantifiedawesome.com

We reserve the right to make changes to this policy. Any changes to this policy will be posted.
