= setup_page 'records_help', "help", 'time/nav'
%strong Choose a category by typing in parts of the category's full name. 
%ul
  %li quant matches Quantified Awesome
  %li disc other matches Discretionary - Other

You can specify times:
%pre
  7:30 bike

You can use time offsets:
%pre
  \-15m tidy
  \-1h work

You can specify dates (y/m/d or m/d):
%pre
  6/8 7:00 bike
