%h1 Listing stuff

%table
  %tr
    %th Stuff
    %th

  - @stuff.each do |stuff|
    %tr
      %td= link_to stuff.name, stuff
      %td
        = link_to 'Edit', edit_stuff_path(stuff)
        = link_to 'Delete', stuff, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Stuff', new_stuff_path
