%h2 Privacy

I share a lot of my data, but you shouldn't have to. I'm building
Quantified Awesome to make it easier for you to track stuff if you
want to do so, and I'll try not to let your data accidentally get
exposed. That said, I'm human and sometimes stuff happens. Please
don't use this to store any confidential information, and send me
feedback if you discover something I missed.

Your e-mail address is a handy way for me to get in touch with you if
something does happen. I promise to never sell or rent your e-mail
address or any other data you submit to this site to anyone.

%h2 Terms

Quantified Awesome is a fun personal project for me. Again, stuff
might happen. I make no guarantees about the suitability or
reliability of this system, any databases, and so on. Please don't do
anything that could get me in trouble with ISPs, copyright holders,
and other organizations.

If you want me to delete all of your data from this system, please
feel free to send feedback or send me an e-mail (sachac@ca.ibm.com).

%h2 Other stuff

I'm curious about building systems that fit the way people live. If
you think of ways that this could fit you better or track other things
you're interested in, send me feedback! I can't promise that I'll get
to it quickly, but it might be fun to try some things out.

Thanks for your interest!
