%table
  - goal_summary.each do |k, g|
    %tr
      %td.h= g[:label]
      %td
        .sparkline{'sparkType' => 'bullet', :class => g[:class], :sparkPerformanceColor => g[:performance_color]}
          = ([g[:target] || 0, g[:performance] || 0] + (g[:range] || [])).join(',')
      %td= g[:text]
