.container
  width: auto
  margin-left: 5px
  margin-right: 5px
.topbar
  a
    font-size: large
    padding: 5px
    padding-top: 10px
    display: block
form .input
  margin-left: 0px
.mobile
  .login .inner, .sign_up .inner
    height: auto
  input, textarea, select, .uneditable-input
    width: auto
.form-stacked
  padding-left: 0px
.row, .category
  margin-left: 0px
nav
  ul
    list-style: none
    margin-left: 0
    li
      list-style-type: none
      a
        display: block
        width: 100%
        font-size: large
        line-height: 120%