- if managing?
  = form_tag track_time_path, :class => mobile? ? 'form-stacked' : 'form-inline' do
    = text_field_tag 'category', nil
    = submit_tag t('time.dashboard.track'), :class => 'btn btn-default'
    = link_to 'Help', '/records/help'
